<h1 class="title-evenement white"> Contact </h1>
<div class="open-up">
  <iframe src="https://www.facebook.com/plugins/page.php?href=https://www.facebook.com/AliciaBussereauScenographeVegetale" width="340" height="331" style="border:none; overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
  <div class="mapouter"><div class="gmap_canvas"><iframe width="350" height="233" id="gmap_canvas" src="https://maps.google.com/maps?q=2%20rue%20des%20Saulniers,%2049%20080%20Bouchemaine%20,%20La%20Pointe&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:333px;width:432px;}</style><a href="https://www.embedgooglemap.net"></a><style>.gmap_canvas {overflow:hidden;background:none!important;height:333px;width:432px;}</style></div></div>
  <div class="forms around">
    <%= form_with model: @message, id: "contact-form" do |form| %>
      <%= form.fields_for :contact do |contact_form| %>
        <%= contact_form.label :first_name, "Prénom *", required: true %>
        <%= contact_form.text_field :first_name %>
        <%= contact_form.label :last_name, "Nom *", required: true %>
        <%= contact_form.text_field :last_name %>
        <%= contact_form.label :email, "Email *" %>
        <%= contact_form.text_field :email, required: true %>
        <%= contact_form.label :phone_number, "Numéro de telephone" %>
        <%= contact_form.text_field :phone_number %>
      <% end %>
      <%= form.label :content, "Votre message *" %>
      <%= form.text_area :content, required: true %>
      <div class="submit">
        <%= form.submit "Envoyer", class: "envoyer" %>
      </div>
    <% end %>
  </div>
</div>
