<div data-controller="navbar" class="home-page">
  <div class="menu">
    <div></div>
    <div class="icon" data-navbar-target="icon" data-action="click->navbar#translate">
      <i class="light_icon icons"> </i>
      <i class="light_icon icons"> </i>
      <i class="light_icon icons"> </i>
    </div>
  </div>
  <div class="optionshome" data-navbar-target="optionshome">
    <%= link_to "Votre évènement", evenement_path, class: "language_link" %>
    <%= link_to "Performances artistiques", performances_path, class: "language_link" %>
    <%= link_to "Murs et devantures végétalisées", murs_path, class: "language_link" %>
    <%= link_to "Cours d'art floral", cours_path, class: "language_link" %>
    <%= link_to "L'atelier", atelier_path, class: "language_link" %>
    <%= link_to "Contact", contact_path, class: "language_link center_menu" %>
  </div>
