<h2>accusé de réception - Alicia-bussereau.com</h2>

<div>
  <p>
    Je vous confirme que votre demande de devis est bien arrivé, <br>
    je reviens vers vous au plus vite pour le préciser / finaliser.
  </p>
  <p>En attendant, si besoin vous pouvez m'appeler à tout moment au 06 13 71 51 86</p>
</div>

<h3>Résumé de votre demande de devis :</h3>

<div>
    <p>
      Les informations données pour le devis : <br>
      Lieux de l'évènement : <%= @quoting.address %> <%= @quoting.zipcode %> <%= @quoting.city %>
      Date : <%= @quoting.event_date %>
      Type(s) d'évènements demandé(s) : <%= @quoting.categories.join(", ") %>
    </p>
  </div>
</div>