<h1 class="title-evenement white"> Votre évènement </h1>
<p class="text-evenement white"> C'est sur rendez vous que je vous accueille dans mon atelier, pour mettre au point la décoration florale pour votre manifestation. Je prends le temps, avec vous, d'étudier votre demande. Spécialisée en événementiel depuis plus de 13 ans, je saurais vous accompagner et vous conseiller pour vos demandes des plus simples aux plus complexes!</p>
<div class="all-carousel">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
    </div>
    <div class="carousel-inner frame">
      <div class="carousel-item active">
        <%= image_tag "evenement-1.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-2.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-3.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-4.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-5.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-6.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-7.jpg", class: "d-block w-100" %>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
