<div class="page-performance">
  <h1 class="title-performance white"> Performances </h1>
  <p class="text-performance white"> C'est sur l'île de la Réunion, en avril 2019 que je réalise mon premier shooting d'art floral. Poussée par mon ami Ghjuliu Mattei, photographe, nous réalisons ensemble, notre première collaboration. Je voulais mettre en scène une femme plongée dans cette faune incroyable pour mettre mes créations en avant. Ma satisfaction fut tellement forte que je décide alors de réitérer l'expérience sur des thèmes tous aussi différents les uns que les autres. Pour moi, c'est le moyen le plus fort d'expression en art floral. J'aime créer ces ambiances, réfléchir au moindre détail, mélanger les textures et les couleurs de façon à obtenir un tableau parfait </p>
  <div class="allframe" data-controller="performances" data-performances-target="alltotalframe">
    <div class="frame-shooting" data-performances-target="frames">
      <div class="card-container">
        <div class="card card-one" data-performances-target="flipcards">
          <div class="front front-one">
            <h6 class="white shooting-name"> "Sauvage"</h6>
            <p class="white shooting-text"> Crédit photo: Ghjuliu Mattei </p>
            <button class= "scaled-button front-but" data-action="click->performances#show_shooting_one"> ouvrir </button>
          </div>
          <div class="back">
            <div class="pic-cont">
              <%= image_tag "Sauvage-1.jpg", class: "performance-pic seen-one" %>
              <%= image_tag "Sauvage-3.jpg", class: "performance-pic visibility", data: { performances_target: "picturesgoright" } %>
              <%= image_tag "Sauvage-4.jpg", class: "performance-pic visibility", data: { performances_target: "picturesgomoreright" } %>
              <%= image_tag "Sauvage 2.jpg", class: "performance-pic visibility", data: { performances_target: "picturesgodown" } %>
              <button class= "scaled-button back-but" data-action="click->performances#close_one" data-performances-target="buttons"> fermer </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-shooting" data-performances-target="frames">
      <div class="card-container">
        <div class="card card-three" data-performances-target="flipcards">
          <div class="front front-three">
            <h6 class="grey shooting-name"> "Svitlana" </h6>
            <p class="grey shooting-text svitlana-text">  Crédit photo: Ghjuliu Mattei  </p>
            <button class= "scaled-button front-but" data-action="click->performances#show_shooting_two"> ouvrir </button>
          </div>
          <div class="back">
            <div class="pic-cont">
              <%= image_tag "Couronne-Slave-2.jpg", class: "performance-pic seen-one" %>
              <%= image_tag "coiffe-ukrainienne.jpg", class: "performance-pic visibility", data: { performances_target: "picturesgodown" } %>
              <button class= "scaled-button back-but" data-action="click->performances#close_three" data-performances-target="buttons"> fermer </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-shooting" data-performances-target="frames">
      <div class="card-container">
        <div class="card card-two" data-performances-target="flipcards">
          <div class="front front-two">
            <h6 class="white shooting-name align">"Dia de los muertos" </h6>
            <p class="white shooting-text"> Crédit photo: Ghjuliu Mattei </p>
            <button class= "scaled-button front-but" data-action="click->performances#show_shooting_three"> ouvrir </button>
          </div>
          <div class="back">
            <div class="pic-cont">
              <%= image_tag "Dia-de-los-muertos-1.jpg", class: "performance-pic seen-one" %>
              <%= image_tag "Dia-de-los-muertos-2.jpg", class: "performance-pic visibility", data: { performances_target: "picturesgodown" } %>
              <button class= "scaled-button back-but" data-action="click->performances#close_two" data-performances-target="buttons"> fermer </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-shooting" data-performances-target="frames">
      <div class="card-container">
        <div class="card card-five" data-performances-target="flipcards">
          <div class="front front-five">
            <h6 class="white shooting-name align"> "shooting floral" </h6>
            <p class="white shooting-text"> Crédit photo: MKT photographie. </p>
            <button class= "scaled-button front-but" data-action="click->performances#show_shooting_four"> ouvrir </button>
          </div>
          <div class="back">
            <div class="pic-cont">
              <%= image_tag "Shoot-Floral-1.jpg", class: "performance-pic seen-one" %>
              <%= image_tag "Shoot Floral 2.jpg", class: "performance-pic visibility", class: "performance-pic visibility", data: { performances_target: "picturesgoleft" }  %>
              <%= image_tag "Shoot Floral 4.jpg", class: "performance-pic visibility", data: { performances_target: "picturesgoright" } %>
              <%= image_tag "Shoot Floral 3.jpg", class: "performance-pic visibility", data: { performances_target: "picturesgodown" } %>
              <%= image_tag "Shoot Floral 5.jpg", class: "performance-pic visibility", data: { performances_target: "picturesgodownerleft" } %>
              <%= image_tag "Shoot-floral-6.jpg", class: "performance-pic visibility", data: { performances_target: "picturesgodownerright" } %>
              <button class= "scaled-button back-but" data-action="click->performances#close_five" data-performances-target="buttons"> fermer </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-shooting" data-performances-target="frames">
      <div class="card-container">
        <div class="card card-four" data-performances-target="flipcards">
          <div class="front front-four">
            <h6 class="white shooting-name align"> "La mariée de Kyoto" </h6>
            <p class="white shooting-text"> Crédit photo: Capturer l'instant- Johanna. </p>
            <button class= "scaled-button front-but but_four" data-action="click->performances#show_shooting_five"> ouvrir </button>
          </div>
          <div class="back">
            <div class="pic-cont">
              <%= image_tag "La-mariée-de-Kyoto-1.jpg", class: "performance-pic seen-one"%>
              <%= image_tag "La mariée de Kyoto 2.jpg", class: "performance-pic visibility", data: { performances_target: "picturesgoleft" } %>
              <%= image_tag "La mariée de Kyoto 4.jpg", class: "performance-pic visibility", data: { performances_target: "picturesgoright" } %>
              <%= image_tag "La mariée de Kyoto 3.jpg", class: "performance-pic visibility", data: { performances_target: "picturesgodown" } %>
              <%= image_tag "La mariée de Kyoto 5.jpg", class: "performance-pic visibility index", data: { performances_target: "picturegodowner" } %>
              <button class= "scaled-button back-but" data-action="click->performances#close_four" data-performances-target="buttons"> fermer </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-shooting" data-performances-target="frames">
      <div class="card-container">
        <div class="card card-six" data-performances-target="flipcards">
          <div class="front front-six">
            <h6 class="white shooting-name align"> "Amazone" </h6>
            <p class="white shooting-text"> Crédit photo: Ghjuliu Mattei. </p>
            <button class= "scaled-button front-but" data-action="click->performances#show_shooting_six"> ouvrir </button>
          </div>
          <div class="back">
            <div class="pic-cont">
              <%= image_tag "Amazone-1.jpg", class: "performance-pic seen-one" %>
              <%= image_tag "Amazone 2.jpg", class: "performance-pic visibility", data: { performances_target: "picturesgoright" } %>
              <button class= "scaled-button back-but" data-action="click->performances#close_six" data-performances-target="buttons"> fermer </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-shooting" data-performances-target="frames">
      <div class="card-container">
        <div class="card card-eight" data-performances-target="flipcards">
          <div class="front front-eight">
            <h6 class="white shooting-name align"> "La fille de l'étang" </h6>
            <p class="white shooting-text"> Crédit photo: Ghjuliu Mattei. </p>
            <button class= "scaled-button front-but" data-action="click->performances#show_shooting_seven"> ouvrir </button>
          </div>
          <div class="back">
            <div class="pic-cont">
              <%= image_tag "La-fille-de-l-étang-1.jpg", class: "performance-pic seen-one" %>
              <%= image_tag "La fille de l'étang 2.jpg", class: "performance-pic visibility", data: { performances_target: "picturesgoright" } %>
              <button class= "scaled-button back-but" data-action="click->performances#close_eight" data-performances-target="buttons"> fermer </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-shooting" data-performances-target="frames">
      <div class="card-container">
        <div class="card card-seven" data-performances-target="flipcards">
          <div class="front front-seven">
            <h6 class="grey shooting-name align"> "Didi Disco" </h6>
            <p class="grey shooting-text"> Crédit photo: Ghjuliu Mattei. </p>
            <button class= "scaled-button front-but" data-action="click->performances#show_shooting_eight"> ouvrir </button>
          </div>
          <div class="back">
            <div class="pic-cont">
              <%= image_tag "Didi-Disco-1.jpg", class: "performance-pic seen-one"%>
              <%= image_tag "Didi Disco 2.jpg", class: "performance-pic visibility", data: { performances_target: "picturesgoright" } %>
              <button class= "scaled-button back-but" data-action="click->performances#close_seven" data-performances-target="buttons"> fermer  </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-shooting" data-performances-target="frames">
      <div class="card-container">
        <div class="card card-nine" data-performances-target="flipcards">
          <div class="front front-nine">
            <h6 class="white shooting-name align"> "Aurus"  </h6>
            <p class="white shooting-text"> Crédit photo: Ghjuliu Mattei. </p>
            <button class= "scaled-button front-but" data-action="click->performances#show_shooting_nine"> ouvrir </button>
          </div>
          <div class="back">
            <div class="pic-cont">
              <%= image_tag "Aurus-1.jpg", class: "performance-pic seen-one" %>
              <%= image_tag "Aurus 2.jpg", class: "performance-pic visibility", data: { performances_target: "picturesgoright" } %>
              <%= image_tag "Aurus 3.jpg", class: "performance-pic visibility", data: { performances_target: "picturesgoleft" } %>
              <button class= "scaled-button back-but" data-action="click->performances#close_nine" data-performances-target="buttons"> fermer </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-shooting" data-performances-target="frames">
      <div class="card-container">
        <div class="card card-ten" data-performances-target="flipcards">
          <div class="front front-ten">
            <h6 class="white shooting-name align"> "Bijoux du monde" </h6>
            <p class="white shooting-text"> Crédit photo: Douceur angevine photographe. </p>
            <button class= "scaled-button front-but but_four" data-action="click->performances#show_shooting_ten"> ouvrir </button>
          </div>
          <div class="back">
            <div class="pic-cont">
              <%= image_tag "Bijoux-du-monde-4.jpg", class: "performance-pic seen-one" %>
              <%= image_tag "Bijoux du monde 2.jpg", class: "performance-pic visibility", data: { performances_target: "picturesgoright" } %>
              <%= image_tag "Bijoux du monde 3.jpg", class: "performance-pic visibility", data: { performances_target: "picturesgoleft" } %>
              <%= image_tag "Bijoux du monde 7.jpg", class: "performance-pic visibility", data: { performances_target: "picturesgodown" } %>
              <%= image_tag "Bijoux du monde 5.jpg", class: "performance-pic visibility", data: { performances_target: "picturesgodownerleft" }%>
              <%= image_tag "Bijoux du monde 1.jpg", class: "performance-pic visibility", data: { performances_target:
              "picturesgodownerright" } %>
              <%= image_tag "Bijoux du monde 6.jpg", class: "performance-pic visibility", data: { performances_target:
              "picturegodownertodowner" } %>
              <button class= "scaled-button back-but" data-action="click->performances#close_ten" data-performances-target="buttons"> fermer </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-shooting" data-performances-target="frames">
      <div class="card-container">
        <div class="card card-eleven" data-performances-target="flipcards">
          <div class="front front-eleven">
            <h6 class="white shooting-name align"> "Super Lily" </h6>
            <p class="white shooting-text"> Crédit photo : Douceur Angevine photographie.</p>
            <button class= "scaled-button front-but but_four" data-action="click->performances#show_shooting_eleven"> ouvrir </button>
          </div>
          <div class="back">
            <div class="pic-cont">
              <%= image_tag "Super-Lily-1.jpg", class: "performance-pic seen-one" %>
              <%= image_tag "Super Lily 3.jpg", class: "performance-pic visibility", data: { performances_target: "picturesgoright" } %>
              <%= image_tag "Super Lily 2.jpg", class: "performance-pic visibility", data: { performances_target: "picturesgodown" } %>
              <button class= "scaled-button back-but" data-action="click->performances#close_eleven" data-performances-target="buttons"> fermer </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
