<style>
  .middle {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .doubleline, .line {
    text-decoration-line: underline;
    text-underline-offset: 4px;
  }

  .doubleline {
    text-decoration-style: double;
  }

  .doubleline, .line {
    color: #c12849;
  }

</style>

<div class="middle">
  <h1 class="doubleline"> Nouveau message </h1>

  <p>
    <%= @contact.first_name %> <%= @contact.last_name %> vous a envoyé un nouveau message par le formulaire de contact sur <%= link_to "alicia-bussereau.com", "https://alicia-bussereau.com"  %>
  </p>
  <p class="line"> Message </p>
  <%= simple_format(@message.content) %>

  <p class="line">
    Répondre au message
  </p>
  <p>
    <%= link_to @contact.email, "#" %>
  </p>
    <% if @contact.phone_number %>
      <p class="line"> Appeler </p>
      <%= @contact.first_name %> au <%= @contact.phone_number %>
    <% end %>
  </p>
</div>
