<h1>Nouveau message</h1>

<p>
  <%= @contact.first_name %> <%= @contact.last_name %> vous a envoyé un nouveau message par le formulaire de contact sur <%= link_to "alicia-bussereau.com", "https://alicia-bussereau.com"  %> 
</p>

<p><%= simple_format(@message.content) %></p>

<p>
  Répondre au message : <%= link_to @contact.email, "#" %><br>
  <% if @contact.phone_number %>
    Appeler <%= @contact.first_name %> : <%= @contact.phone_number %>
  <% end %>
</p>
