<h1 class="title-evenement white"> Votre évènement </h1>
<p class="text-evenement white"> C'est sur rendez vous que je vous accueille dans mon atelier, pour mettre au point la décoration florale de votre manifestation. Je prends le temps, avec vous, d'étudier votre demande. Spécialisée en événementiel depuis plus de 13 ans, je saurai vous accompagner et vous conseiller pour vos demandes des plus simples aux plus complexes!</p>
<div class="all-carousel">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 11"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" aria-label="Slide 12"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="12" aria-label="Slide 13"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="13" aria-label="Slide 14"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="14" aria-label="Slide 15"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="15" aria-label="Slide 16"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="16" aria-label="Slide 17"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="17" aria-label="Slide 18"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="18" aria-label="Slide 19"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="19" aria-label="Slide 20"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="20" aria-label="Slide 21"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="21" aria-label="Slide 22"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="22" aria-label="Slide 23"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="23" aria-label="Slide 24"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="24" aria-label="Slide 25"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="25" aria-label="Slide 26"></button>
    </div>
    <div class="carousel-inner frame">
      <div class="carousel-item active">
        <%= image_tag "evenement-14.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-9.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-10.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-11.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-12.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-13.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-8.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-15.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-16.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-17.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-1.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-2.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-3.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-5.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-6.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-7.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-18.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-19.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-20.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-21.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-22.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-23.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-24.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-25.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-26.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "evenement-27.jpg", class: "d-block w-100" %>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="forms margin">
  <%= form_with model: @quoting, id: "quoting-form" do |form| %>
  <%= form.fields_for :contact do |contact_form| %>
    <%= contact_form.label :first_name, "Prénom *", required: true %>
    <%= contact_form.text_field :first_name %>
    <%= contact_form.label :last_name, "Nom *", required: true %>
    <%= contact_form.text_field :last_name %>
    <%= contact_form.label :email, "Email *" %>
    <%= contact_form.text_field :email, required: true %>
    <%= contact_form.label :phone_number, "Numéro de telephone" %>
    <%= contact_form.text_field :phone_number %>
    <%= contact_form.label :city, "Votre ville" %>
    <%= contact_form.text_field :city %>
  <% end %>
  <%= form.label :address, "adresse de l'évènement *" %>
  <%= form.text_area :address, required: true %>
  <%= form.label :zipcode, "Code postal *" %>
  <%= form.text_area :zipcode, required: true %>
  <%= form.label :city, "Ville de l'évènement *" %>
  <%= form.text_area :city, required: true %>
  <%= form.label :event_date, "Date de l'évènement *" %>
  <%= form.date_field :event_date, required: true %>
  <%= form.label :categories, "Categories souhaitées *", class: "cats" %>
  <div class="categories">
    <%= form.collection_check_boxes(:categories, Quoting::CATEGORIES, :to_s, :to_s, include_hidden: false, required: true) do |b| %>
      <%= b.label class:"label-checkbox" do%>
        <%= b.check_box + b.text %>
      <%end%>
    <% end %>
  </div>
  <div class="submit">
    <%= form.submit "Envoyer", class: "envoyer" %>
  </div>
<% end %>
</div>
